<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Management App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Inventory Management App</h1>
    <div class="links">
      <ul class="sidebar-nav">
        <li><a href="/catalog">Home</a></li>
        <li><a href="/catalog/items">All items</a></li>
        <li><a href="/catalog/categories">All categories</a></li>
        <li><a href="/catalog/item/create">Add a new item</a></li>
        <li><a href="/catalog/category/create">Add a new category</a></li>
    </ul>
    </div>
    <div class="content">
        <%- body %>
    </div>
  </body>
</html>